<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home" text="Dashboard"></ion-back-button>
    </ion-buttons>
    
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
<ion-card>
  <ion-card-header>
    <ion-card-title>Profile</ion-card-title>
    <ion-card-subtitle>Your information</ion-card-subtitle>
  </ion-card-header>
  <ion-card-content style="text-align: center;">
    <h2>{{user?.userName}}</h2>
    <p>{{user?.userEmail}}</p>
    <p>{{user?.userPhone}}</p>
    <p>{{user?.createdAt | date}}</p>
  </ion-card-content>

  <ion-button size="medium" expand="block" (click)="editProfile()"> Edit Profile</ion-button>
</ion-card>


</ion-content>
