<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="login" text="Login"></ion-back-button>
    </ion-buttons>
    
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-card>
    <ion-card-header style="text-align: center;">
      <ion-card-title>Forget Password</ion-card-title>
      <ion-card-subtitle>Please enter your email address</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      <form (ngSubmit)="resetPassword()" [formGroup]="reset">
      <ion-list>
        <ion-item>
          <ion-label position="floating">Email Address</ion-label>
          <ion-input type="email" placeholder="Enter email" formControlName="email" name="email"> </ion-input>
        </ion-item>
      </ion-list>
      <ion-button  expand="block" type="submit" >Reset Password</ion-button>
    </form>
    </ion-card-content>
  </ion-card>
  

</ion-content>

