<ion-header translucent style="margin-bottom: 4%;">
  <ion-toolbar>
    <ion-title>Symptom Checker</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="refresh($event)" pullingIcon="arrow-dropdown" pullingText="update"
    refreshingSpinner="circles" refreshingText="updating...">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
 
  <ion-card class="ion-padding" style="position:fixed;width: 95%;z-index: 100;margin-top: 0;">
    <form (ngSubmit)="getDiagnosis()" [formGroup]="formSymptoms">
    <ion-list>
    <ion-item>
      <ion-label>Symptoms</ion-label>
      <ion-select name="symptoms" placeholder="Select multiples" multiple formControlName="symptoms" (ionChange)="addSymptom($event)">
        <ion-select-option *ngFor="let symptom of symptoms" [value]="symptom.ID">{{symptom.Name}}
        </ion-select-option>
      </ion-select>
    </ion-item>
    </ion-list>
    <ion-item>
      <ion-label>Gender</ion-label>
      <ion-select placeholder="Select" name="gender" formControlName="gender">
        <ion-select-option value="female">Female</ion-select-option>
      <ion-select-option value="male">Male</ion-select-option>
    </ion-select>
    </ion-item>
    <ion-item>
      <ion-label>Year of birth</ion-label>
      <ion-datetime formControlName="year_of_birth" placeholder="Select" display-format="YYYY" picker-format="YYYY"></ion-datetime>
    </ion-item>

    <ion-button expand="block" type="submit" [disabled]="!formSymptoms.valid">Analyse</ion-button>
    </form>
  </ion-card>

  <div *ngIf="diagnosisResult !== undefined" style="margin-top: 65%;z-index: 10;">

  <ion-card  *ngFor="let data of diagnosisResult" >
    <ion-card-header>
      <ion-card-title>{{data.Issue['Name']}} (Accuracy: {{data.Issue['Accuracy'] ?data.Issue['Accuracy']+"%":"N/A"}})</ion-card-title>
      <ion-card-subtitle>{{data.Issue['ProfName']}}</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      <p>{{data?.Issue['INFO']?.Description}}</p>
      <ion-card *ngIf="data?.Issue['INFO']?.PossibleSymptoms">
        <ion-card-header>
        <!--   <ion-card-subtitle>Awesome Subtitle</ion-card-subtitle> -->
          <ion-card-title>Possible Symptoms</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          {{data?.Issue['INFO']?.PossibleSymptoms}}
        </ion-card-content>
      </ion-card>

      <ion-card *ngIf="data?.Issue['INFO']?.Synonyms">
        <ion-card-header>
    
          <ion-card-title>Synonyms</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          {{data?.Issue['INFO']?.Synonyms}}
        </ion-card-content>
      </ion-card>

      <ion-card *ngIf="data?.Issue['INFO']?.TreatmentDescription">
        <ion-card-header>
      
          <ion-card-title>Treatment</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          {{data?.Issue['INFO']?.TreatmentDescription}}
        </ion-card-content>
      </ion-card>

      <ion-card>
        <ion-card-header>
      
          <ion-card-title>Specialisation</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <ul>
            <div *ngFor="let spec of data.Specialisation">
              <li>{{spec.Name}}</li>
            </div>
          </ul>
        </ion-card-content>
      </ion-card>
     
    </ion-card-content>
  </ion-card>

  </div>


  <!-- <ion-card class="ion-padding">

    <ion-chip outline color="dark">
      <ion-label>Entertainment</ion-label>
      <ion-icon name="close-circle"></ion-icon>
    </ion-chip>
  </ion-card> -->
</ion-content>
