ion-toolbar {
    --background: transparent;
    --ion-color-base: transparent !important;
}

ion-content {
    --offset-bottom: auto!important;
    --overflow: hidden;
    overflow: auto;
    &::-webkit-scrollbar {
      display: none;
    }
}