<ion-header >
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="welcome" text="Welcome"></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button  (click)="reset()" >Reset</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
 <!--  <ion-buttons> -->
 <!--    <ion-button expand="block" (click)="register()" >Register</ion-button> -->
    
  <!-- </ion-buttons> -->
  
  <ion-card class="ion-padding">
      <ion-card-title style="text-align: center;">Login</ion-card-title>
 

  <form (ngSubmit)="login()" [formGroup]="credentials"> 
    <ion-list>
      <ion-item>
        <ion-label position="stacked">Email</ion-label>
        <ion-input type="email" placeholder="Enter email" formControlName="email" name="email"> </ion-input>
      </ion-item>

       <ion-item>
        <ion-label position="stacked">Password</ion-label>
        <ion-input type="password" placeholder="Enter password" formControlName="password" name="password"> </ion-input>
      </ion-item>
    </ion-list>
    <ion-button expand="full" type="submit" [disabled]="!credentials.valid">Login</ion-button>
  </form>
  </ion-card>
</ion-content>