<ion-header >
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="welcome" text="Welcome"></ion-back-button>
    </ion-buttons> 
    <ion-buttons slot="end">
      <ion-button (click)="backToLogin()">Login</ion-button>
    </ion-buttons> 
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="ion-padding">
    <ion-card-title style="text-align: center;">Register</ion-card-title>
    <form>
      <ion-list>
        <ion-item>
          <ion-label position="stacked"> Full Name</ion-label>
          <ion-input required type="text" [(ngModel)]="name" name="name"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="stacked"> Email</ion-label>
          <ion-input required type="text" [(ngModel)]="email" name="email"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="stacked"> Phone</ion-label>
          <ion-input required type="tel" [(ngModel)]="phone" name="phone"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="stacked"> Password</ion-label>
          <ion-input required type="password" [(ngModel)]="password" name="password"></ion-input>
        </ion-item>

        <ion-card class="ion-padding">
          <ion-row size='12'>
            <ion-col size="12">
              <ion-item>
                <ion-label position="float">Covid Test</ion-label>
                <ion-toggle name="covid" [(ngModel)]="test.positive" (ngModelChange)="testPositive($event)"  class="form-control"></ion-toggle>
              </ion-item>
              <div class="ion-padding" style="color: darkgreen;">Toggle on to set it positive.</div>
              <ion-item *ngIf="test.positive" [disabled]="!test.positive">
                <ion-label>Date</ion-label>
                <ion-datetime  name = "covidDate" [(ngModel)]="testDateDisplay" placeholder="Select" display-format="DD MMM YYYY, HH:mm" picker-format="DD MMM YYYY, HH:mm" required></ion-datetime>
              </ion-item>
            </ion-col>
      
          </ion-row>
        </ion-card>

        <ion-button type="submit" expand="block" (click)="register()"> Register
        </ion-button>

      </ion-list>
      
    </form>
  </ion-card>
</ion-content>
