<ion-header translucent>
  <ion-toolbar>
    <ion-title>
     Dashboard
    </ion-title>
    <ion-buttons slot="end">
      <ion-button fill="clear" (click)="openBLEDevices()"><ion-icon name="bluetooth-outline"></ion-icon></ion-button>
      <ion-button fill="clear" (click)="goToProfile()"><ion-icon name="person-circle-outline"></ion-icon></ion-button>
      <ion-button fill="clear" color="danger" (click)="presentLogOutConfirm()"><ion-icon name="log-out-outline"></ion-icon></ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding" fullscreen="true">
  <ion-refresher slot="fixed" (ionRefresh)="refresh($event)" pullingIcon="arrow-dropdown" pullingText="update"
    refreshingSpinner="circles" refreshingText="updating...">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <!-- <ion-button (click)="adapterInfo()">AdapterInfo</ion-button>
  <ion-button (click)="startScan()">StartScan</ion-button>
  <ion-button color="danger" (click)="stopScan()">StopScan</ion-button>
  <ion-button (click)="retrieveConnected()">RetrieveConnected</ion-button>

  <ion-button expand="block" shape="round" (click)="goToProfile()">Profile</ion-button>
  <ion-button expand="block" shape="round" (click)="logout()">Logout</ion-button> -->
  <!--<ion-list>
     <button ion-item *ngFor="let device of devices" (click)="connectToDevice(device)">
      <h2>{{ device.name || 'Unnamed' }}</h2>
      <p>{{ device.id }}</p>
      <p>RSSI: {{ device.rssi }}</p>
    </button> 
    <ion-card-content ion-item *ngFor="let device of devices">
      <p>{{device.name || 'Unnamed'}}</p>
      <p>{{device.address}}</p>
      <p> RSSI: {{device.rssi}}</p>
      <p> {{device.advertisement || 'unknown'}}</p>
    </ion-card-content> 
  </ion-list>-->
  <ion-row>
    <ion-col size="12">
      <ion-card class="" (click)="openWorldCases()">
        <ion-card-header class="ion-padding" color="light">
          <ion-card-subtitle>Total Cases</ion-card-subtitle>
          <ion-card-title><ion-text color="danger">{{worldData?.cases}}</ion-text></ion-card-title>
        </ion-card-header>
      </ion-card>
    </ion-col>
  </ion-row>
  <ion-row style="font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;">
    <ion-col size="6">
      <ion-card color="danger" button>
        <ion-card-header>
          <ion-card-subtitle>Deaths</ion-card-subtitle>
          <ion-card-title *ngIf="worldData?.deaths">{{worldData?.deaths}}</ion-card-title>
          <ion-card-title *ngIf="!(worldData?.deaths)"><ion-skeleton-text animated style="width: 80%; height: 10px;"></ion-skeleton-text></ion-card-title>
        </ion-card-header>
      </ion-card>
    </ion-col> 
    <ion-col size="6">
      <ion-card color="success" button>
        <ion-card-header>
          <ion-card-subtitle>Recovered</ion-card-subtitle>
          <ion-card-title *ngIf="worldData?.recovered">{{worldData?.recovered}}</ion-card-title>
          <ion-card-title *ngIf="!(worldData?.recovered)"><ion-skeleton-text animated style="width: 70%; height: 10px;"></ion-skeleton-text></ion-card-title>
        </ion-card-header>
      </ion-card>
    </ion-col> 
  </ion-row>
  <ion-row>
    <ion-col size="12">
      <ion-row>
        <ion-col size="10">
          <ion-title News>Latest News</ion-title> 
        </ion-col>
        <ion-col size="2">
          <div>
          <ion-buttons slot="end">
            <ion-button (click)="openNewsList()"><ion-icon name="arrow-forward-circle-outline"></ion-icon></ion-button>
          </ion-buttons>
        </div>
          </ion-col>
      </ion-row>
     
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col size="12">
      <ion-card>
        <div *ngIf="!latestNews">
          <div class="ion-padding custom-skeleton">
          <div style="padding-bottom: 10px;">
            <ion-skeleton-text animated style="width: 100%; height: 150px;border-radius: 4px;" slot="start"></ion-skeleton-text>
          </div>
            <ion-skeleton-text animated style="height:7px;"></ion-skeleton-text>
            <ion-skeleton-text animated style="height:7px;"></ion-skeleton-text>
            <ion-skeleton-text animated style="height:7px;"></ion-skeleton-text>
            <ion-skeleton-text animated style="width: 88%;height:7px;"></ion-skeleton-text>
            <ion-skeleton-text animated style="width: 70%;height:7px;"></ion-skeleton-text>
            <ion-skeleton-text animated style="width: 60%;height:7px;"></ion-skeleton-text>
          </div>
        </div>
       <img *ngIf="latestNews" src="{{latestNews?.media}}" (click)="openLink(latestNews?.link)" /> 
        <ion-card-header>
        <!--   <p>Source: {{latestNews?.source?.name}}</p> -->
          <ion-card-subtitle>{{latestNews?.published_date | date:'dd MMM YYYY, HH:mm'}}</ion-card-subtitle>
          <ion-card-title><a (click)="openLink(latestNews?.link)" >{{latestNews?.title}}</a></ion-card-title>
        </ion-card-header>
        <ion-card-content style="text-align: justify;">
          {{latestNews?.summary}}
        </ion-card-content>
      </ion-card>
    </ion-col>
  </ion-row>
</ion-content>

<ion-footer>
  <!-- <ion-toolbar>
    <p>{{ statusMessage }}</p>
    <ion-buttons slot="end">
      <ion-button fill="clear" (click)="stopScan()">Stop</ion-button>
    </ion-buttons>
  </ion-toolbar> -->
</ion-footer>